.project
.classpath
.settings
*.class
*.log

.gradle
.sass/
gradle-app.setting
build
/build
/build/*
target
/target
*.iml
*.ipr
*.iws
/.idea/
!src/main/webapp/ext/src/fx/target
!src/main/webapp/ext/packages/ext-theme-crisp/build
web-console/src/main/webapp/resources/sass/default/.sass-cache/
bootstrap.js
bootstrap.css
bootstrap.json
bootstrap.jsonp
example.css